<div class="card">
  <img src="https://grants.nih.gov/sites/all/themes/nih/images/oer-logo-color.png" class="card-img-top" alt="NIH Logo">
  <div class="card-body">
    <h5 class="card-title">OER Drupal Module</h5>
    <p class="card-text">This module will serve as the primary template for many more modules that to be built for NIH OD/OER department</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>